@import "tailwindcss";
@import "tw-animate-css";

@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist";

@custom-variant dark (&:is(.dark, .dark *));

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #091E3A, #2F80ED, #2D9EE0);

  --background: hsl(228, 98.65%, 98.26%);
  --foreground: hsl(228, 7.3%, 0.52%);

  --muted: hsl(228, 7.3%, 91.3%);
  --muted-foreground: hsl(228, 3.65%, 41.3%);

  --popover: hsl(228, 31.6%, 91.3%);
  --popover-foreground: hsl(228, 7.3%, 0.65%);

  --card: hsl(228, 31.6%, 91.3%);
  --card-foreground: hsl(228, 7.3%, 0.65%);

  --border: hsl(228, 12.3%, 89.52%);
  --input: hsl(228, 12.3%, 89.52%);

  --primary: hsl(228, 73%, 13%);
  --primary-foreground: hsl(228, 1.46%, 91.3%);

  --secondary: hsl(228, 3.65%, 95.65%);
  --secondary-foreground: hsl(228, 5.38%, 11.3%);

  --accent: hsl(228, 3.65%, 95.65%);
  --accent-foreground: hsl(228, 5.38%, 11.3%);

  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(0, 0%, 98%);

  --ring: hsl(228, 73%, 13%);
    --radius: 0.5rem;

}

.dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#9400D3,#4B0082);

    --background: hsl(228 30% 6%);
    --foreground: hsl(228 20% 92%);

    --muted: hsl(228 15% 16%);
    --muted-foreground: hsl(228 10% 60%);

    --popover: hsl(228 25% 10%);
    --popover-foreground: hsl(228 20% 92%);

    --card: hsl(228 25% 10%);
    --card-foreground: hsl(228 20% 92%);

    --border: hsl(228 15% 20%);
    --input: hsl(228 15% 20%);

    --primary: hsl(228 100% 65%);
    --primary-foreground: hsl(228 100% 98%);

    --secondary: hsl(228 45% 30%);
    --secondary-foreground: hsl(228 20% 92%);

    --accent: hsl(228 45% 30%);
    --accent-foreground: hsl(228 20% 92%);

    --destructive: hsl(0 70% 45%);
    --destructive-foreground: hsl(0 100% 95%);

    --ring: hsl(228 100% 65%);

    --radius: 0.5rem;

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}